@media (max-width:850px){
    .warning{
        color: red;
        padding-top: 5px;
    }

    .nav_links ul{
        position: fixed;
        left: -300%;

    }
    header{
        background-color: rgb(39, 43, 43);
        width: 100%;
    }
    .nav_bar .bars{
        color: #fefeff;
    }

    .home_info{
        margin-top: 2.3rem;
    }


    #project_links{
        display: flex;
        align-items: flex-start;
        margin-top: 3rem;
       }
       
       .first_link{
           height: 10rem;
           width: 16rem;
       }
       .sec_link{
           height: 10rem;
           width: 16rem;
       }
       .project{    
           font-size:.9rem;
           position: relative;
        top: 80%;
        left: 10%
       }
    
    
       

.about_head img{
    height: 130px;
    width: 130px;
    position: relative  ;
    top: -7rem;
}
.right_container h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.1rem;
}
.right_container p{
    font-size: 1.2rem;
    padding-top: 2.8rem;
}


.s_work{
    font-size: 2rem;
}

#work a{
    padding: .6rem 0 0 4rem;
}


.main_slide{
    height: 22rem;
}


.contact_info{
    height: 100%;
}

.contact_details h1{
    font-size: 1rem;
}

}

@media (max-width:670px){
    .nav_bar .bars{
        position: absolute;
        left: 92%;
    }


#about{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about_head img{
    height: 130px;
    width: 130px;
}
.right_container h1{
    font-size: 1.5rem;
    text-align: center;
}
.right_container p{
    text-align: center;
    font-size: 1.1rem;
    padding-top: .6rem;
    padding-bottom: 2rem;
}


.s_work{
    font-size: 1.4rem;
}



.main_slide{
    height: 16rem;
}


.contact_info{
    height: 100%;
}

.contact_details h1{
    font-size: .8rem;
}

}



@media (max-width:570px){

    .nav_bar .bars{
        position: absolute;
        left: 88%;
    }

    .home_info{
        height: 100%;
    }


    .Work{
        font-size: 2.1rem;
    }
    .Work span{
        font-size: 3rem;
    }
    
    .my_info p{
        max-width: 70%;       
    }


#project_links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   }

   .right_container h1{
    font-size: 1.7rem;
}
.right_container p{
    padding: 10px 30px 40px 30px;
    font-size: 1rem;
}




.work_info{
    height: 100%;
}


.work_first{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-left: 3.3rem;
}

.work_sec{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-left: 3.3rem;
}

.work_third{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-left: 3.3rem;
    padding-bottom: 30px;
}


.main_slide{
    height: 12rem;
}








.contact_head h1{
    font-size: 3rem;
}
.contact_details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.me_info{
    margin-top: .5rem;
}
.services{
   margin-top: 2rem;
}
.social_icons{
    margin-top: 2rem;
}
.web_details{
    font-size: .7rem;
}
}

@media (max-width:380px) {
    .main_slide{
        height: 9.5rem;
    }
}

@media (max-width:330px) {
  
.work_first{
    margin-left: 1rem;
}

.work_sec{
    margin-left: 1rem;
}

.work_third{
    margin-left: 1rem;
}

}